/* Add your CSS to this file */
* {
  box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 18px;
    font-family: apple-system,BlinkMacSystemFont, "segoe UI", Roboto, "Hellvetica Neue", Arial, "Noto Sans", sans-serif;

}

.container {
	display: grid;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}


 h1{
 	font-size: 18px;
 }  
.header {
  list-style-type: none;
  font-size: 18px;
	}

nav {
	align-items: right;
}
.header h1{
  display: flex;
  background-color: white;
  font-size: 18px;
}
    

li{
	margin-top: auto;
	marker-bottom:auto;
  display:flex;
  float: right; 
}

.header ul{
	list-style-type: none;
	float: right;
}



li.a:link {
	color: #6b7280;
}

li.a:hover{
	color: #5A67D8;
}

section{
	display: block;
}

overview-hero .overview-hero-image{
	float: left;
    width: 250px;
    margin: 30px 30px 30px 0;;
	background-color: #E2E8F0;
}
overview-hero .overview-hero-text{
display: inline;
	background-color: #E2E8F0;

}

 h2{			/*Learn About*/

    float: left;
	font-size: 24px;
	color: #48BB78;
}

.cards {
 
display: grid;
grid-row-start: 3;
grid-row-end: 3;
grid-template-columns: 300px 300px 300px; 
grid-template-rows:1; 
grid-gap: 1rem;
 
}
 
.card:nth-child(1){
 
 grid-column: 1;
 grid-row: 1;
 border-style: solid;
border-color: #E2E8F0;
 border-radius: 5px;
 }

.card:nth-child(2){
 
 grid-column: 2;
 grid-row: 1;
 border-style: solid;
border-color: #E2E8F0;
 border-radius: 5px;
 }
.card:nth-child(3){
 
 grid-column: 3;
 grid-row: 1;
 border-style: solid;
border-color: #E2E8F0;
 border-radius: 5px;
 }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #E2E8F0;
}
.card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  float: top;

}
 h3{
 	color: #48BB78;
 	font-size: 21px;

 }

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}


.testing-desciption{
	float: right;
	background-color: #4A5568;
	font-color: white;


}
.testing a:link{/*links in learn more*/
	background-color: #48BB78;
	border-radius: 5px;

}


.stories{
	font-color: #5A67D8;

}

.stories h3{
	font-size: 18px;
}

}
.stories img{
	border-radius: 50%;
	float: left;
}
.article-body{
	display: inline;

}
.newsletter{
	background-color: #48BB78;
	color:white;


}

.newsletter button{
	background-color: #5A67D8;
}
footer{
grid-auto-columns: 1;
grid-auto-flow: all;
	background-color: #4A5568;
	color:white;
}


